Source: io.elementary.wingpanel-8
Section: x11
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends:
    debhelper (>= 10.5.1),
    gettext,
    libgala-dev,
    libmutter-14-dev | libmutter-13-dev | libmutter-12-dev | libmutter-11-dev | libmutter-10-dev,
    libgee-0.8-dev,
    libgirepository1.0-dev,
    libglib2.0-dev (>= 2.32),
    libgranite-7-dev,
    libgtk-4-dev,
    meson,
    valac (>= 0.26)
Standards-Version: 4.6.2
Vcs-Git: https://github.com/elementary/wingpanel.git
Vcs-Browser: https://github.com/elementary/wingpanel
Homepage: https://github.com/elementary/wingpanel

Package: io.elementary.wingpanel-8
Architecture: any
Depends:
    gala (>= 8.0.0),
    libwingpanel-8 (= ${binary:Version}),
    ${misc:Depends},
    ${shlibs:Depends}
Provides: indicator-renderer
Description: Top panel for Pantheon
    An extensible container for system indicators

Package: libwingpanel-8
Architecture: any
Multi-Arch: same
Depends:
    ${shlibs:Depends},
    ${misc:Depends}
Description: A super sexy space-saving top panel
    An extensible container for system indicators
    .
    This package contains the shared library used for wingpanel.

Package: libwingpanel-8-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
    libglib2.0-dev (>= 2.32),
    libwingpanel-8 (= ${binary:Version}),
    ${misc:Depends}
Description: Library to build plugins for WingPanel (development files)
    An extensible container for system indicators
    .
    This package contains the development files used for wingpanel.
