Source: wingpanel
Section: x11
Priority: extra
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               libgala-dev,
               libgee-0.8-dev,
               libgirepository1.0-dev,
               libglib2.0-dev (>= 2.32),
               libgranite-dev,
               libgtk-3-dev (>= 3.14),
               valac (>= 0.26)
Standards-Version: 3.9.6
Homepage: https://launchpad.net/wingpanel
Vcs-Bzr: https://code.launchpad.net/~wingpanel-devs/wingpanel/trunk
Vcs-Browser: http://bazaar.launchpad.net/~wingpanel-devs/wingpanel/trunk/files

Package: wingpanel
Architecture: any
Depends: libwingpanel-2.0-0 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: wingpanel-indicator-bluetooth,
            wingpanel-indicator-datetime,
            wingpanel-indicator-network,
            wingpanel-indicator-notifications,
            wingpanel-indicator-power,
            wingpanel-indicator-session,
            wingpanel-indicator-sound
Provides: indicator-renderer
Description: A super sexy space-saving top panel
 A replacement for the traditional GNOME Panel, designed to be a lightweight
 container for system/application indicators and notification icons.
 Designed by elementary Project.

Package: wingpanel-dbg
Architecture: any
Section: debug
Priority: extra
Depends: wingpanel (= ${binary:Version}), ${misc:Depends}
Enhances: wingpanel
Description: A super sexy space-saving top panel (debugging symbols)
 A replacement for the traditional GNOME Panel, designed to be a lightweight
 container for system/application indicators and notification icons.
 Designed by elementary Project.
 .
 This package contains debugging symbols for wingpanel.

Package: libwingpanel-2.0-0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Conflicts: libwingpanel0
Replaces: libwingpanel0
Description: A super sexy space-saving top panel
 A replacement for the traditional GNOME Panel, designed to be a lightweight
 container for system/application indicators and notification icons.
 Designed by elementary Project.
 .
 This package contains the shared library used for wingpanel.

Package: libwingpanel-2.0-dev
Architecture: any
Section: libdevel
Depends: libglib2.0-dev (>= 2.32),
         libwingpanel-2.0-0 (= ${binary:Version}),
         ${misc:Depends}
Description: Library to build plugins for WingPanel (development files)
 A replacement for the traditional GNOME Panel, designed to be a lightweight
 container for system/application indicators and notification icons.
 Designed by elementary Project.
 .
 This package contains the development files used for wingpanel.
