[Desktop Entry]
Name=Wingpanel
Comment=A super sexy space-saving top panel
Exec=io.elementary.panel
Icon=io.elementary.panel
Terminal=false
Type=Application
Categories=Utility;
NoDisplay=true
X-GNOME-Autostart-Notify=false
X-GNOME-AutoRestart=true
