.panel {
    background-color: transparent;
    transition: all 100ms ease-in-out;
    margin-bottom: 0;
    -GtkWidget-window-dragging: false;
}

.panel.maximized {
    background-color: #000;
}

.panel.translucent {
    background-color: alpha(#000, 0.5);
    box-shadow:
        0 1px 3px alpha(#000, 0.24),
        0 1px 1px alpha(#000, 0.52);
    margin-bottom: 4px;
}

.panel.color-light.translucent {
    background-color: alpha(#fff, 0.85);
    box-shadow:
        inset 0 -1px 1px alpha(#fff, 0.2),
        0 1px 3px alpha(#000, 0.24),
        0 1px 1px alpha(#000, 0.12);
    margin-bottom: 4px;
}

.panel menubar {
    box-shadow: none;
    border: none;
}
